    @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
    * {git 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    }
    body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    }
    .neon {
    font-size: 3em;
    color: #fefefe;
    padding: 0 20px;
    margin: 0;
    text-shadow: 0 0 15px #00ffff;
    position: relative;
    }

    .neon::after {
    content: attr(data-set);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #00ffff;
    filter: blur(15px);
    }

    .neon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00ffff;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
    }
